div {
    color: white;
    word-wrap: break-word;
}

b {
    color: white; 
}

textarea {
    color: white;
    background: black;
    border: 0;
    outline:none;
    width: 90%;
    height: 200px;
    resize: none;
}

p {
    color: greenyellow;
    display: inline;
}
